<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Universidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">País</ion-label>
        <ion-input type="text" [(ngModel)]="country"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="searchUniversities()">Buscar</ion-button>
  </div>  
</ion-content>




