<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img src="https://th.bing.com/th/id/R.d65ed154c1988224021ea34860693c31?rik=uAeHlL6exNX4tw&pid=ImgRaw&r=0" alt="Caja de Herramienta">
  </div>
</ion-content>