<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Contratame
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img alt="Profile" src="../../assets/img/img_profile.jpeg" />
    <ion-card-header>
      <ion-card-title>Franklyn Brea</ion-card-title>
      <ion-card-subtitle>franklynbrea100@gmail.com</ion-card-subtitle>
      <ion-card-subtitle>809-743-5818</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Cada logro comienza con la decisión de intentarlo. 
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>

