<ng-container *ngIf="hasUni">
<ion-card *ngFor="let p of listaUni">
  <ion-card-header>
    <ion-card-title>{{ p.name }}</ion-card-title>
    <ion-card-subtitle>{{ p.domains }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <a href="{{ p.web_pages[0] }}" target="_blank">Visitar sitio web</a>
  </ion-card-content>
</ion-card>
</ng-container>
<ion-card *ngIf="!hasUni">
  <ion-card-header>
    <ion-card-title>Error</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="error-message">
      <p><ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
        No se encontraron resultados.</p>
    </div>
  </ion-card-content>
</ion-card>

